%p#notice= notice

%p
  %b Name:
  = @task.name
%p
  %b Description:
  = @task.description
%p
  %b Start date:
  = @task.start_date
%p
  %b End date:
  = @task.end_date
%p
  %b Category:
  = @task.category

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
